## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Vaini,TO,-21.2000,-175.2000,80.83,73,100,10.65,overcast clouds
1,1,Jamestown,US,42.0970,-79.2353,18.72,85,100,0.00,overcast clouds
2,2,Lazaro Cardenas,MX,17.9583,-102.2000,81.16,55,0,9.44,clear sky
3,3,Cape Town,ZA,-33.9258,18.4232,72.12,78,0,3.00,clear sky
4,4,Rikitea,PF,-23.1203,-134.9692,77.11,71,100,5.77,overcast clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Vaini,TO,-21.2000,-175.2000,80.83,73,100,10.65,overcast clouds
2,2,Lazaro Cardenas,MX,17.9583,-102.2000,81.16,55,0,9.44,clear sky
4,4,Rikitea,PF,-23.1203,-134.9692,77.11,71,100,5.77,overcast clouds
9,9,Cabo Rojo,PR,18.0866,-67.1457,78.98,80,59,4.07,broken clouds
26,26,Kapaa,US,22.0752,-159.3190,81.48,65,0,1.99,clear sky
28,28,Hobyo,SO,5.3505,48.5268,76.62,79,97,15.52,light rain
32,32,San Alberto,CO,7.7611,-73.3922,79.36,71,100,4.81,overcast clouds
34,34,Ugoofaaru,MV,5.6667,73.0000,82.11,75,53,13.47,broken clouds
40,40,Cabo San Lucas,MX,22.8909,-109.9124,77.61,70,83,7.63,broken clouds
43,43,Butaritari,KI,3.0707,172.7902,82.04,76,28,20.92,light rain

In [7]:
# 4a. Determine if there are any empty rows.
# preferred_cities_df.isna().sum()
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                1
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Vaini,TO,-21.2000,-175.2000,80.83,73,100,10.65,overcast clouds
2,2,Lazaro Cardenas,MX,17.9583,-102.2000,81.16,55,0,9.44,clear sky
4,4,Rikitea,PF,-23.1203,-134.9692,77.11,71,100,5.77,overcast clouds
9,9,Cabo Rojo,PR,18.0866,-67.1457,78.98,80,59,4.07,broken clouds
26,26,Kapaa,US,22.0752,-159.3190,81.48,65,0,1.99,clear sky
...,...,...,...,...,...,...,...,...,...,...
674,674,Angoche,MZ,-16.2325,39.9086,76.03,85,1,2.42,clear sky
681,681,Tambacounda,SN,13.7539,-13.7586,86.05,14,62,6.91,broken clouds
691,691,Puerto Leguizamo,CO,-0.1934,-74.7819,81.77,60,100,1.59,overcast clouds
693,693,Nabire,ID,-3.3667,135.4833,78.28,78,100,2.39,overcast clouds
698,698,Saquena,PE,-4.6667,-73.5167,77.07,72,98,2.10,overcast clouds

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Vaini,TO,80.83,overcast clouds,-21.2000,-175.2000,
2,Lazaro Cardenas,MX,81.16,clear sky,17.9583,-102.2000,
4,Rikitea,PF,77.11,overcast clouds,-23.1203,-134.9692,
9,Cabo Rojo,PR,78.98,broken clouds,18.0866,-67.1457,
26,Kapaa,US,81.48,clear sky,22.0752,-159.3190,
28,Hobyo,SO,76.62,light rain,5.3505,48.5268,
32,San Alberto,CO,79.36,overcast clouds,7.7611,-73.3922,
34,Ugoofaaru,MV,82.11,broken clouds,5.6667,73.0000,
40,Cabo San Lucas,MX,77.61,broken clouds,22.8909,-109.9124,
43,Butaritari,KI,82.04,light rain,3.0707,172.7902,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.isna().sum()
# hotel_df=hotel_df.dropna

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [12]:
# 8a. Create the output File (CSV)
import csv
# Create the output file (CSV).
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))